<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Error Or Die!</title>
  <meta name="description" content="The ERROR OR DIE!">
  <meta name="author" content="Fiverr">
  <link href="/bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <style>
    table td, table th {
      overflow: hidden;
    }

    p.overflow {
      width: 456px;
      word-wrap: break-word;
    }
  </style>
</head>
<body>
  <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">Meshumar&copy;</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div>
      </div>
      <h1>The Eyal Meshumar</h1>
      <div class="media well">
        <a class="pull-left" href="#">
          <img src="/images/meshumar.jpg" class="media-object">
        </a>
        <div class="media-body">
          <h4 class="media-heading">About</h4>
          <p class="lead">
            The most undervalued error logger ever, dedicated to the wonderful Maccabi Haifa left back, <a href="https://www.facebook.com/pages/%D7%90%D7%99%D7%99%D7%9C-%D7%9E%D7%A9%D7%95%D7%9E%D7%A8-Eyal-Meshumar/204865832884822">Mr. Eyal Meshumar</a>
          </p>
          <p style="text-align:center;">
            <a href="http://www.youtube.com/results?search_query=%D7%9E%D7%A9%D7%95%D7%9E%D7%A8&oq=%D7%9E%D7%A9%D7%95%D7%9E%D7%A8&gs_l=youtube.3..0i19.61756.62833.0.63018.5.5.0.0.0.0.196.537.1j3.4.0...0.0...1ac.1.JzrFSoOXJIE" class="btn btn-primary">See Meshumar in action</a>
          </p>
        </div>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><i class="icon-globe"></i> Env</th>
            <th><i class="icon-user"></i> Sender</th>
            <th><i class="icon-gift"></i> Class</th>
            <th><i class="icon-thumbs-down"></i> Message</th>
            <th><i class="icon-time"></i> At</th>
          </tr>
        </thead>
        <tbody>
          <% @errors.each do |error| %>
            <tr>
              <td><%= error.env %></td>
              <td><%= error.host %></td>
              <td><a href="/errors/<%= error.id %>"><%= error.error_class %></a></td>
              <td><p class="overflow"><%= error.error_message %></p></td>
              <td><%= error.created_at.strftime("%D %R") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <ul class="pager">
        <% page = (params[:page] || 1).to_i %>
        <% if  page > 1 %>
        <li><a href="?page=<%= page - 1 %>">Previous</a></li>
        <% end %>
        <li><%= params[:page] || 1 %></li>
        <li><a href="?page=<%= page + 1 %>">Next</a></li>
      </ul>
  </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" />
</body>
</html>