<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Error Or Die!</title>
  <meta name="description" content="The ERROR OR DIE!">
  <meta name="author" content="Fiverr">
  <link href="/bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <style>
    table td, table th {
      overflow: hidden;
    }

    p.overflow {
      width: 456px;
      word-wrap: break-word;
    }
  </style>
</head>
<body>
  <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="/errors">Meshumar&copy;</a>
          <ul class="nav">
            <li class="active"><a href="/errors">Home</a></li>
          </ul>
        </div>
      </div>
      <h1>The Eyal Meshumar</h1>
      <div class="media well">
        <a class="pull-left" href="https://www.facebook.com/pages/%D7%90%D7%99%D7%99%D7%9C-%D7%9E%D7%A9%D7%95%D7%9E%D7%A8-Eyal-Meshumar/204865832884822">
          <img src="/images/meshumar.jpg" class="media-object">
        </a>
        <div class="media-body">
          <h4 class="media-heading">About</h4>
          <p class="lead">
            The most undervalued error logger ever, dedicated to the wonderful Maccabi Haifa left back, <a href="https://www.facebook.com/pages/%D7%90%D7%99%D7%99%D7%9C-%D7%9E%D7%A9%D7%95%D7%9E%D7%A8-Eyal-Meshumar/204865832884822">Mr. Eyal Meshumar</a>
          </p>
          <p style="text-align:center;">
            <a href="http://www.youtube.com/results?search_query=%D7%9E%D7%A9%D7%95%D7%9E%D7%A8&oq=%D7%9E%D7%A9%D7%95%D7%9E%D7%A8&gs_l=youtube.3..0i19.61756.62833.0.63018.5.5.0.0.0.0.196.537.1j3.4.0...0.0...1ac.1.JzrFSoOXJIE" class="btn btn-primary">See Meshumar in action</a>
          </p>
        </div>
      </div>
      <form class="form-horizontal row" method="get" action="/errors">
        <fieldset class="span6">
          <legend>Search</legend>
          <div class="control-group">
            <label class="control-label" for="inputUsers">Controller:</label>
            <div class="controls">
              <input type="text" id="inputUsers" name="component" placeholder="users" value="<%= params[:component] %>">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputAction">Action:</label>
            <div class="controls">
              <input type="text" id="inputAction" name="action" placeholder="index" value="<%= params[:action] %>">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputException">Exception:</label>
            <div class="controls">
              <input type="text" id="inputException" name="error_class" placeholder="RuntimeError" value="<%= params[:error_class] %>">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">Search</button>
            </div>
          </div>
        </fieldset>
        <fieldset class="span6">
          <legend>Stats</legend>
          <h5>General</h5>
          <dl class="dl-horizontal">
            <dt>Total Errors:</dt>
            <dd><%= @error_count = ErrorReport.where({:open => true}).count %></dd>
          </dl>
          <% if @error_count > 0 %>
            <h5>Error Distribution</h5>
            <% @errors_by_location = ErrorReport.where({:open => true}).all.group_by(&:location) %>
            <% @errors_by_location.each_pair do |location, items|
              @errors_by_location[location] = ((items.size.to_f / @error_count.to_i.to_f) * 100).to_i
            end %>
              <% @errors_by_location.each_pair do |location, percentage| %>
                <% color = case percentage
                    when 0..20
                      "progress-info"
                    when 21..40
                      "progress-warning"
                    when 41..100
                      "progress-danger"
                    end
                %>
                <div class="progress progress-striped <%= color %> active">
                  <div class="bar" style="color: black; width: <%= percentage %>%;"><%= location %> (<%= percentage%>%)</div>
                </div>
              <% end %>
          <% end %>
        </fieldset>
      </form>
      <section>
      <% @errors.each do |error| %>
        <div class="well">
          <p>
            <small class="pull-right"><%= error.created_at %></small>
            <strong><%= error.error_class %>: <%= error.error_message %></strong>
          </p>
          <pre><%= error.request_info %> => <%= error.component %>#<%= error.action %></pre>
          <div>
            <a href="/errors/<%= error.id %>" class="btn btn-primary">Show</a>
            <a href="/errors/close/<%= error.id %>" class="btn btn-danger">Close</a>
          </div>
        </div>
      <% end %>
      </section>
      <ul class="pager">
        <% page = (params[:page] || 1).to_i %>
        <% if  page > 1 %>
        <li><a href="?page=<%= page - 1 %>">Previous</a></li>
        <% end %>
        <li><%= params[:page] || 1 %></li>
        <li><a href="?page=<%= page + 1 %>">Next</a></li>
      </ul>
  </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" />
</body>
</html>